
@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');
@import url('https://fonts.googleapis.com/css?family=Dancing+Script&display=swap');

* {
  font-family: 'Montserrat', sans-serif;
  list-style: none;
  text-decoration: none;
  margin: 0;

}


body {
    background-color: rgb(252, 252, 252);
}


header {
    color: rgb(12, 100, 12);  
}

header > h1 {
    width: 250px;
    text-align: center;
}


div.container.logoNav {
    display: flex;
    justify-content: space-between;
    background-color: rgba(118, 192, 118, 0.507);
    box-shadow: -1px 0px 31px 0 rgba(0, 0, 0, 0.918);

}

.logo-heading {
    font-family: 'Dancing Script', cursive;
    border: 4px solid rgba(3, 1, 1, 0.534);
    margin: 8px;
    background-color: rgba(207, 154, 116, 0.616);
}

.logo {
    height: 30px;
    width: 30px;
    margin: 0 25px;

}

.meal-icon {
    height: 60px;
    width: 60px;
}


.small-circle {
    height: 4px;
    width: 4px;
    border: 1px solid rgb(14, 6, 6);
    margin-right: 5px;;
}

.medium-circle {
    height: 6px;
    width: 6px;
    border: 1px solid rgb(14, 6, 6);
    margin-right: 5px;
}

.navPara {
    border: 1px dotted rgb(5, 4, 4);
    width: 100px;
    height: 80px;
    font-weight: 900;
    text-align: center;
}   

.host-button > a {
    border: 1px solid rgb(14, 6, 6);
    background-color:rgb(12, 100, 12);
    border-radius: 3px;
    cursor: pointer;
    width: 100px;
    text-align: center;
    color: #fff;

} 



.navStyle {
    display: flex;
    justify-content: space-around;

}

.homePageImg{
    box-shadow: 7px 10px 20px #000;
    width: 100%;
}

 .card {
     width: 18rem;
     margin: 20px;
 }

 .stars-outer {
    position: relative;
    display: inline-block;
  }
  
  .stars-inner {
    position: absolute;
    top: 0;
    left: 0;
    white-space: nowrap;
    overflow: hidden;
    width: 0;
  }
  
  .stars-outer::before {
    content: "\f005 \f005 \f005 \f005 \f005";
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    color: #ccc;
  }
  
  .stars-inner::before {
    content: "\f005 \f005 \f005 \f005 \f005";
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    color: #f8ce0b;
  }
  
  .number-rating {
      margin-left: 5px;
  }
 .card-text{
     margin-left: 2.5px;
     font-size: 15px;
 }

 .card-text > i {
     margin-right: 2.5px;
     margin-bottom: 5px;
 }

 .mealIconText {
     margin-left: 2.5px;
 }

 .mealIconText > i {
     margin-left: 2.5px;
 }

 #root {
     display: flex;
     flex-wrap: wrap ;
     justify-content: center;
 }

 .card-img-top{
     height: 190px;
     width: 286px;
 }

 a > img.buttonSize {
     height: 30px;
     width: 30px;
 }
 .addcolor {
    color: rgb(12, 100, 12);  
    display: flex;
    justify-content: center;
    font-weight: bold;
 }

 .addColorToText {
    color: rgb(12, 100, 12);  
 }

 .btn-primary {
     background-color: rgb(12, 100, 12);
     border-color: rgb(12, 100, 12);
 }

 .btn-primary:hover {
    background-color: rgb(12, 100, 12);
    border-color: rgb(12, 100, 12);


 }

 .btn-primary:active{
    background-color: rgb(12, 100, 12);
    border-color: rgb(12, 100, 12);


 }
 .btn-primary:focus{
    background-color: rgb(12, 100, 12);
    border-color: rgb(12, 100, 12);
 }

 .footerPara {
    display: flex;
    justify-content: space-evenly;
    color: #fff;
    background-color: rgb(12, 100, 12);
 }

 .footerImg {
     height: 30px;
     width: 30px;
 }

 .form-control {
    width: 300px;
  }
 .reservationForm {
    margin: 50px;
 }

 .singleMealPage {
     display: flex;
     justify-content: center;
 }

  

