@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');
* {
  font-family: 'Montserrat', sans-serif;
}

* {
    margin: 0;
    padding:0;
    list-style: none;
}

.mealsList {
    border: 1px solid black;
    border-radius: 4px;
    display: flex;
    height: 100px;
}